@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  letter-spacing: 0.1em;
}

a {
  color: #333;
  text-decoration: none;
  display: block;
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/*-------------------------------------------
header
-------------------------------------------*/

.header {
  height: 100px;
  width: 100%;
  padding: 40px 0 0 50px;
}

.header-title {
  width: 100px;
}

.nav {
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: #ff2a2a;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  transition: all 0.6s ease;
  visibility: hidden;
}

.open .nav {
  opacity: 1;
  visibility: visible;
}

.nav img {
  width: 100px;
  position: absolute;
  top: 40px;
  left: 50px;
}

.nav-list {
  margin: 80px 0 40px;
}

.nav-list__item {
  margin-bottom: 20px;
}

.nav-list__item a {
  color: #fff;
  font-weight: bold;
}

.nav-btn {
  width: 250px;
  border: solid 1px #fff;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 15px 0;
  transition: 0.3s;
  position: relative;
}

.nav-btn::after {
  position: absolute;
  content: "";
  width: 250px;
  border-right: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 15px 0;
  right: -6px;
  bottom: -6px;
}

.nav-btn:hover {
  background-color: #fff;
  color: #ff2a2a;
}

.hamburger {
  width: 100px;
  height: 100px;
  background-color: #ff2a2a;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger span {
  width: 50%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 25%;
  transition: 0.3s;
}

.hamburger span:nth-child(1) {
  top: 36%;
}

.hamburger span:nth-child(2) {
  top: 50%;
}

.hamburger span:nth-child(3) {
  top: 64%;
}

.open .hamburger span:nth-child(1) {
  top: 47%;
  background: #fff;
  transform: rotate(-45deg);
}

.open .hamburger span:nth-child(2),
.open .hamburger span:nth-child(3) {
  top: 47%;
  background: #fff;
  transform: rotate(45deg);
} /* 2本目と3本目は重ねているから同じ動きにする */

/*-------------------------------------------
mv
-------------------------------------------*/
.mv {
  height: 720px;
  position: relative;
  margin-bottom: 120px;
}

.mv-text {
  position: absolute;
  top: 280px;
  left: 10%;
  z-index: 10;
}

.mv-title {
  font-size: 2.875rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 0 4px 6px #fff;
}

.mv-btn {
  background-color: #ff2a2a;
  border-bottom: 6px solid #9a0413;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  padding: 15px 35px;
  text-align: center;
  transition: 0.3s;
  position: relative;
}

.mv-btn::after {
  content: "";
  width: 16px;
  height: 16px;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  transform: rotate(45deg); /*矢印の方向を変える*/
  position: absolute;
  top: 26px;
  right: 30px;
}

.mv-btn:hover {
  opacity: 0.9;
  transform: scale(1.05); /*でかくする*/
}

.mv-img__item {
  width: 75%;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  animation: fade 15s infinite; /*keyframes指定の名前・時間・カウント（無限）*/
}

.mv-img__item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0px 0px 20px 20px #fff;
}

.mv-img__item:nth-child(1) {
  animation-delay: 0s;
}

.mv-img__item:nth-child(2) {
  animation-delay: 5s;
}
.mv-img__item:nth-child(3) {
  animation-delay: 10s;
}

.mv-img__item img {
  width: 100%;
  height: 720px;
  object-fit: cover;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  45% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/*-------------------------------------------
Reason
-------------------------------------------*/

#reason {
  margin-bottom: 120px;
}

.section-title {
  font-size: 2.25rem;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: #333;
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.reason-inner {
  background-color: #ff2a2a;
  padding: 80px 0;
}

.reason-inner img {
  width: auto;
  height: 60px;
  margin-right: 30px;
}

.slide {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 5%;
  opacity: 0;
}

.reason-left {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
}

.animation-left {
  animation: slide-left 0.5s ease-out 0s forwards; /*infinite:繰り返し*/
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.reason-text {
  display: block;
  font-size: 1.125rem;
}

.reason-title {
  color: #ff2a2a;
  display: block;
  font-size: 1.75rem;
  font-weight: bold;
}

.reason-right {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: auto; /* 右寄せ */
}

.animation-right {
  animation: slide-right 0.5s ease-out 0s forwards; /*infinite:繰り返し*/
}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*-------------------------------------------
voice
-------------------------------------------*/
#voice {
  margin-bottom: 120px;
}

.wrapper {
  width: 100%;
  max-width: 860px;
  margin-inline: auto;
}

.voice-inner {
  display: flex;
  align-items: flex-start;
  opacity: 0;
  margin-bottom: 60px;
}

.animation-people {
  animation: people 0.5s ease-out 0s 1 forwards;
}

@keyframes people {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.voice-left:last-of-type {
  margin-bottom: 0;
}

.voice-right {
  justify-content: flex-end;
}

.voice-people img {
  width: 120px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 10px;
}

.voice-name {
  font-size: 0.75rem;
  text-align: center;
}

.voice-text {
  width: 60%;
  background: #e9f1fb;
  border-radius: 15px;
  padding: 20px;
  position: relative;
}

.voice-left .voice-text {
  margin-left: 25px;
}

.voice-left .voice-text::before {
  content: "";
  position: absolute;
  top: 60%;
  right: 100%;
  border: 15px solid transparent;
  border-right: 15px solid #e9f1fb;
}

.voice-right .voice-text {
  margin-right: 25px;
}

.voice-right .voice-text ::before {
  content: "";
  position: absolute;
  top: 60%;
  left: 100%;
  border: 15px solid transparent;
  border-left: 15px solid #e9f1fb;
}

/*-------------------------------------------
Summary
-------------------------------------------*/
#summary {
  background: url("../img/bg.gif") repeat;
  animation: fall 10s infinite linear;
  padding: 60px 0;
  margin-bottom: 120px;
}

@keyframes fall {
  0% {
    background-position: 0 0;
  }

  /* 元の画像の大きさだけ動かす */
  100% {
    background-position: -700px 700px;
  }
}

.summary-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.summary-list {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 60px;
}

.summary-title {
  font-weight: bold;
  line-height: 1;
  text-align: center;
}

.jp {
  display: block;
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.en {
  display: block;
  font-size: 1.125rem;
  margin-bottom: 30px;
}
/*-------------------------------------------
entry
-------------------------------------------*/
.entry {
  margin-bottom: 120px;
  text-align: center;
}
.entry-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.entry-text {
  font-size: 1.125rem;
  margin-bottom: 40px;
}

.entry-btn {
  background-color: #ff2a2a;
  border-radius: 40px;
  border: 3px solid #ff2a2a;
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
  width: 100%;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.entry-btn:hover {
  background-color: #fff;
  border: 3px solid #ff2a2a;
  color: #ff2a2a;
}
/*-------------------------------------------
mv
-------------------------------------------*/
.footer {
  background-color: #e8e8e8;
  padding: 60px 0 20px 0;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-inner__list {
  width: 30%;
}

/* .footer-inner > li { 
  width: 25%;
} */
/* 上記の作り方説明 */

.footer-title {
  font-weight: bold;
}

.footer-menu {
  padding: 11px 0 0 10px;
}
.footer-menu li {
  margin-bottom: 6px;
}
.footer-menu a {
  font-size: 0.875rem;
  transition: 0.3s;
}

.footer-menu a:hover {
  opacity: 0.7;
}

.copyright {
  font-size: 0.625rem;
  text-align: center;
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media (max-width: 900px) {
  .section-title {
    font-size: 1.75rem;
    margin-bottom: 60px;
  }

  .section-title::after {
    width: 80px;
  }

  .wrapper {
    padding: 0 16px;
  }
  /*-------------------------------------------
header
-------------------------------------------*/
  .header {
    padding: 25px 0 0 25px;
  }

  .hamburger {
    width: 75px;
    height: 75px;
  }

  .nav img {
    top: 25px;
    left: 25px;
  }

  .nav-list {
    margin-top: 110px;
  }

  .hamburger span {
    width: 35px;
    left: 21px;
  }

  .open .hamburger span:nth-child(1) {
    top: 37px;
    left: 21px;
  }

  .open .hamburger span:nth-child(2),
  .open .hamburger span:nth-child(3) {
    top: 37px;
  }

  .hamburger span:nth-child(1) {
    top: 26px;
  }

  .hamburger span:nth-child(2) {
    top: 37px;
  }

  .hamburger span:nth-child(3) {
    top: 48px;
  }

  /*-------------------------------------------
mv
-------------------------------------------*/
  .mv {
    height: 490px;
    margin-bottom: 80px;
  }

  .mv-text {
    top: 310px;
    left: 16px; /* positionの為、leftで横位置合わせ */
    width: calc(100% - 32px);
  }

  .mv-title {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }

  .mv-btn {
    width: 100%;
  }

  .mv-img__item {
    width: 100%;
  }

  .mv-img__item img {
    height: 300px;
  }

  /*-------------------------------------------
Reason
-------------------------------------------*/

  #reason {
    margin-bottom: 80px;
  }

  .reason-inner {
    padding: 40px 0;
  }

  .reason-inner img {
    width: auto;
    height: 60px;
    margin-right: 30px;
  }

  .slide {
    width: calc(100% - 16px);
  }

  .reason-left {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 40px;
  }

  .reason-title {
    font-size: 1.5rem;
  }

  .reason-right {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: auto; /* 右寄せ */
  }

  /*-------------------------------------------
voice
-------------------------------------------*/
  #voice {
    margin-bottom: 80px;
  }

  .voice-inner {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 40px;
  }

  .voice-left:last-of-type {
    margin-bottom: 0;
  }

  .voice-left {
    margin-bottom: 40px;
  }

  .voice-right {
    flex-direction: column;
    align-items: center;
  }

  .voice-text {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .voice-left .voice-text {
    margin-left: 0;
  }

  .voice-right .voice-text {
    margin-right: 0;
  }
  .voice-right .voice-text ::before,
  .voice-left .voice-text::before {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 15px solid transparent;
    border-top: 15px solid #e9f1fb;
  }

  /*-------------------------------------------
Summary
-------------------------------------------*/
  #summary {
    margin-bottom: 80px;
  }

  .summary-item {
    grid-template-columns: 1fr;
  }

  .summary-list {
    padding: 30px;
  }

  .jp {
    font-size: 1.5rem;
  }

  .en {
    font-size: 1rem;
  }
  /*-------------------------------------------
entry
-------------------------------------------*/
  .entry {
    margin-bottom: 80px;
  }

  .entry-title {
    font-size: 1.5em;
  }

  .entry-text {
    font-size: 1em;
  }

  .entry-btn {
    font-size: 1.5rem;
  }

  /*-------------------------------------------
mv
-------------------------------------------*/

  .footer-inner {
    flex-wrap: wrap;
  }

  .footer-inner__list {
    width: 50%;
  }

  .footer-inner__list:nth-of-type(1),
  .footer-inner__list:nth-of-type(2) {
    margin-bottom: 30px;
  }

  /* .footer-inner > li { 
  width: 25%;
} */
  /* 上記の作り方説明 */

  .footer-title {
    font-size: 0.9375rem;
  }

  .footer-menu {
    padding: 11px 0 0 10px;
  }
  .footer-menu li {
    margin-bottom: 10px;
  }
  .footer-menu a {
    font-size: 0.75rem;
  }
}
